<mat-expansion-panel
  (afterExpand)="isExpanded = true"
  (closed)="isExpanded = false"
  [hideToggle]="!panelOpen"
  #drawer
  (opened)="panelOpen = true"
  (closed)="panelOpen = false"
>
  <mat-expansion-panel-header>
    <div class="header">
      <div *ngIf="!panelOpen" class="date-info">
        <span class="id"
          >#<span>{{ invoice.id }}</span></span
        >
        <span class="due">
          Due <span>{{ date }}</span>
        </span>
      </div>

      <span *ngIf="!panelOpen" class="client-name">{{ invoice.name }}</span>
      <div class="main-info">
        <span class="total">${{ floatTotal(invoice.total) }}</span>
        <div [ngClass]="{ paid: invoice.paid == true }" class="status">
          <div class="status-text">
            <span class="dot">&#8226;</span
            >{{ invoice.paid ? "Paid" : "Pending" }}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="drawer">
    <div class="col">
      <span>Payment Due:</span>
      <span class="text-primary divide">{{ date }}</span>

      <span>Invoice description:</span>
      <span class="text-primary desc-field">{{ invoice.description }}</span>
    </div>

    <div class="col">
      <span class="divide">Bill to:</span>
      <span class="text-primary">{{ invoice.name }}</span>
      <span>{{ invoice.address }}</span>
      <span>{{ invoice.city }}</span>
      <span>{{ invoice.code }}</span>
      <span>{{ invoice.country }}</span>
    </div>

    <div class="col">
      <span class="divide">Sent to:</span>
      <span class="divide text-primary">{{ invoice.email }}</span>
      <span
        >Invoice ID: #<span class="text-primary">{{ invoice.id }}</span></span
      >
    </div>
    <div class="delete-button">
      <button *ngIf="isExpanded" mat-button (click)="openDialog(drawer)">
        <mat-icon
          [ngClass]="{ ease: drawer.opened }"
          color="primary"
          aria-hidden="false"
          aria-label="add icon"
          >delete_outline</mat-icon
        >
      </button>
      <button *ngIf="isExpanded" mat-button>
        <mat-icon
          [ngClass]="{ ease: drawer.opened }"
          color="primary"
          aria-hidden="false"
          aria-label="add icon"
          >edit</mat-icon
        >
      </button>
    </div>
  </div>
</mat-expansion-panel>
