<mat-expansion-panel
  #drawer
  [hideToggle]="!panelOpen"
  (opened)="panelOpen = true"
  (closed)="panelOpen = false"
>
  <mat-expansion-panel-header expandedHeight="4.6rem">
    <div class="header">
      <div *ngIf="!panelOpen" class="date-info">
        <span
          >#<span class="text-primary mr">{{ invoice.id }}</span></span
        >
        <span>
          Due
          <span class="text-primary-thin">{{ date }}</span>
        </span>
      </div>

      <span *ngIf="!panelOpen" class="text-primary">{{ invoice.name }}</span>
      <div
        *ngIf="!panelOpen"
        class="flex-center"
        [ngClass]="{ easeLeft: panelOpen }"
      >
        <span
          class="text-primary-lg"
          [ngClass]="{ 'text-primary-xl': panelOpen }"
          >${{ floatTotal(invoice.total) }}</span
        >
        <div [ngClass]="{ paid: invoice.paid == true }" class="status">
          <div class="flex-center">
            <span class="dot">&#8226;</span
            >{{ invoice.paid ? "Paid" : "Pending" }}
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel-header>

  <div class="drawer">
    <div
      *ngIf="panelOpen"
      class="flex-center fake-header"
      [ngClass]="{ easeLeft: panelOpen }"
    >
      <span class="text-primary">$</span>
      <input
        class="text-primary-lg input-wrapper input-mod total-input"
        [(ngModel)]="invoice.total"
        [ngClass]="{ 'text-primary-xl': panelOpen }"
        [value]="floatTotal(invoice.total)"
        (input)="handleEdit()"
      />

      <div
        matRipple
        [matRippleRadius]="50"
        [matRippleCentered]="true"
        [matRippleColor]="!invoice.paid ? '#37aa3733' : '#0437aa4d'"
        (click)="handleStatusButton($event)"
        [ngClass]="{
          paid: (!isDirty && invoice.paid == true) || (isDirty && invoice.paid)
        }"
        class="status"
      >
        <div class="flex-center">
          <span class="dot">&#8226;</span
          >{{ invoice.paid ? "Paid" : "Pending" }}
        </div>
      </div>
    </div>

    <div class="col">
      <span>Payment Due:</span>
      <span class="text-primary divide pointer" (click)="picker.open()">{{
        date
      }}</span>

      <mat-form-field class="hidden">
        <input
          #input
          matInput
          (dateInput)="changeDate(input.value)"
          [matDatepicker]="picker"
        />
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <span>Invoice description:</span>
      <span class="relative">
        <span class="input-wrapper">
          <textarea
            class="text-primary input-mod description"
            [(ngModel)]="invoice.description"
            (input)="handleEdit()"
          ></textarea>
        </span>
      </span>
    </div>

    <div class="col">
      <span class="divide">Bill to:</span>
      <span class="relative">
        <span class="input-wrapper"
          ><input
            class="text-primary-md input-mod"
            type="text"
            [(ngModel)]="invoice.name"
            (input)="handleEdit()"
        /></span>
      </span>

      <span class="relative">
        <span class="input-wrapper"
          ><input
            class="text-light input-mod"
            type="text"
            [(ngModel)]="invoice.address"
            (input)="handleEdit()"
        /></span>
      </span>

      <span class="relative">
        <span class="input-wrapper"
          ><input
            class="text-light input-mod"
            type="text"
            [(ngModel)]="invoice.city"
            (input)="handleEdit()"
        /></span>
      </span>

      <span class="relative">
        <span class="input-wrapper"
          ><input
            class="text-light input-mod"
            type="number"
            [(ngModel)]="invoice.code"
            (input)="handleEdit()"
        /></span>
      </span>

      <span class="relative">
        <span class="input-wrapper"
          ><input
            class="text-light input-mod"
            [(ngModel)]="invoice.country"
            (input)="handleEdit()"
        /></span>
      </span>
    </div>

    <div class="col">
      <span class="divide">Sent to:</span>

      <span class="relative">
        <span class="input-wrapper"
          ><input
            class="text-primary input-mod mb"
            [(ngModel)]="invoice.email"
            (input)="handleEdit()"
        /></span>
      </span>

      <span
        >Invoice ID: #<span class="text-primary">{{ invoice.id }}</span></span
      >
    </div>
    <div class="delete-button">
      <button
        *ngIf="panelOpen"
        mat-button
        [ngClass]="{ easeUp: drawer.opened }"
        class="invoice-btn"
        (click)="openDialog(drawer)"
      >
        <mat-icon color="primary" aria-hidden="false" aria-label="add icon"
          >delete_outline</mat-icon
        >
      </button>
      <button
        *ngIf="panelOpen && isDirty"
        [ngClass]="{ easeUp: drawer.opened }"
        (click)="handleUpdateClick(drawer)"
        class="invoice-btn flex-center"
        mat-button
      >
        <span class="text-primary-thin mr">Sync changes</span>

        <mat-icon color="primary" aria-hidden="false" aria-label="add icon"
          >sync</mat-icon
        >
      </button>
    </div>
  </div>
</mat-expansion-panel>
