mat-expansion-panel {
  height: fit-content;
  margin: 1rem 0rem;
}

mat-expansion-panel-header {
  height: fit-content;
}

.drawer {
  display: flex;
  width: clamp(8rem, 85vw, 38rem);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 2.8rem;

  width: 100%;
  margin: 0.8rem 0rem;
  color: var(--primaryLight);
}

.invoice > :nth-child(2) {
  margin: 0.5rem;
}

.id {
  font-weight: 400;
}
.id > span {
  font-weight: 700;
  color: var(--primary);
}

.due {
  margin-left: 0.6rem;
}
.due > span {
  color: var(--primary);
}

.client-name {
  color: var(--primary);
}

.total {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  font-size: 1.1rem;
  font-weight: 500;
  color: var(--primary);

  width: 5rem;
}
.main-info {
  display: flex;
}
.status {
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 6rem;
  height: 2rem;

  color: var(--primary);
  font-weight: bold;

  border-radius: 0.3rem;
}
.status.paid {
  color: rgb(0, 134, 0);
  border: 1px solid rgb(0, 134, 0);
}
.status.paid .dot {
  display: none;
}
.status-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot {
  font-size: 1.4rem;
  margin-right: 0.3rem;
}
.drawer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--primaryLight);
}
.delete-button {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  bottom: 0;
  right: 0;

  margin: 1rem;
}
.invoice-btn {
  opacity: 0;
}
.desc-field {
  max-width: 15rem;
  max-height: 5rem;

  overflow-y: auto;
  overflow-x: hidden;
}
.easeUp {
  animation: fadeUp 200ms ease forwards 150ms;
}
.easeLeft {
  animation: fadeLeft 400ms ease;
}
.col {
  display: flex;
  flex-direction: column;

  height: 9rem;
}
.divide {
  margin-bottom: 0.5rem;
}
.text-primary {
  color: var(--primary);
  font-weight: 500;
}
.text-primary-lg {
  color: var(--primary);
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 2rem;
}
.text-primary-md {
  color: var(--primary);
  font-size: 1rem;
  margin-bottom: 0.4rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    height: auto;
  }
  mat-expansion-panel {
    width: 95vw;
    width: clamp(4rem, 95vw, 22rem);
  }
  .drawer {
    flex-direction: column;
    align-items: flex-start;

    overflow-y: auto;
    max-height: 15rem;
  }
  .drawer > div {
    margin: 0.5rem 0rem;
  }

  .date-info {
    display: none;
  }

  .client-name {
    margin-bottom: 0.4rem;
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(1.2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(0.8rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
