<div class="inner-header">
  <div class="text-wrapper">
    <span class="text-primary-xl mb">Invoices</span>
    <span *ngIf="invoices.length !== 0" class="mat-body-2 text-light"
      >There are total of
      <span class="text-bold">{{ invoices.length }}</span> invoices.</span
    >
    <span *ngIf="invoices.length === 0" class="mat-body-2 text-light"
      >There are no invoices to show.</span
    >
  </div>
  <div>
    <div matRipple class="add-btn" (click)="emitOpenEvent($event)">
      <div class="add-icon">
        <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
      </div>
      <span class="btn-text">New invoice</span>
    </div>
  </div>
</div>

<div class="main">
  <mat-accordion>
    <app-invoice
      (triggerRender)="emitTriggerRender()"
      *ngFor="let invoice of invoices"
      [invoice]="invoice"
    ></app-invoice>
  </mat-accordion>
</div>
<div class="inner-header">
  <div class="text-wrapper"></div>
</div>

<div class="inner-header">
  <div class="text-wrapper">
    <div>
      <span class="text-light">Pending: </span
      ><span class="text-primary"> ${{ pendingTotal }}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div>
      <span class="text-light">Paid: </span
      ><span class="text-primary"> ${{ paidTotal }}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div>
      <span class="text-light">Total: </span
      ><span class="text-primary"> ${{ total }}</span>
    </div>
  </div>
</div>
