<div class="inner-header">
  <div class="text-wrapper">
    <div>
      <span class="text-light">Pending: </span
      ><span class="text-primary"> ${{ pendingSum }}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div>
      <span class="text-light">Paid: </span
      ><span class="text-primary"> ${{ paidSum }}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div>
      <span class="text-light">Total: </span
      ><span class="text-primary"> ${{ totalSum }}</span>
    </div>
  </div>
</div>
