<div class="inner-header">
  <div class="text-wrapper">
    <div>
      <span class="text-light">Pending: </span
      ><span id="pending-display" class="text-primary"> ${{ pendingSum }}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div>
      <span class="text-light">Paid: </span
      ><span id="paid-display" class="text-primary"> ${{ paidSum }}</span>
    </div>
  </div>
  <div class="text-wrapper">
    <div>
      <span class="text-light">Total: </span
      ><span id="total-display" class="text-primary"> ${{ totalSum }}</span>
    </div>
  </div>
</div>
