<mat-sidenav-container>
  <mat-sidenav #sidebar [opened]="sidebarOpen">
    <app-add-invoice (closeEvent)="showSidebar(false)"></app-add-invoice>
  </mat-sidenav>
  <mat-sidenav-content>
    <button
      class="add-btn"
      mat-fab
      color="primary"
      (click)="!sidebar.opened && showSidebar(true); sidebar.opened = true"
    >
      <mat-icon aria-hidden="false" aria-label="add icon">add</mat-icon>
    </button>
    <app-home (openEvent)="showSidebar(true); sidebar.opened = true"></app-home>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
