mat-sidenav-container {
  max-width: 100%;
  height: 100vh;

  overflow: auto;

  background-color: transparent;
}

mat-sidenav {
  position: absolute;
  width: clamp(0px, 100%, 30rem);
  height: clamp(25rem, 100%, 50rem);

  border: 1px solid lightgray;
  border-radius: 0 0rem 0.8rem 0;

  z-index: 10;
}

mat-sidenav-content {
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
  overflow-y: auto;
}

.add-btn {
  display: flex;
  justify-content: center;
  position: absolute;

  top: 1rem;
  left: 1rem;

  align-items: center;
  position: absolute;
  z-index: 99;
}
